*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --light-green: #9EC893;
    --med-green: #131F12;
    --dark-green: #131F12;
    --brown: #3A230E;
    --dark-brown: #301d0b;
}

body {
    display: grid;
    grid-template-rows: 180px 400px 400px;
    grid-template-columns: 280px 500px 500px;
    font-family: 'roboto', sans-serif;
    background-color: #333333;
    color: #333333;
}

/* TYPOGRAPHY ---------------------------------------- */

b,
.trending-text,
.sub-project-text,
.sub-trend-text {
    font-weight: bold;
    color: var(--dark-brown);
}

.dashboard-text {
    font-size: 1.5rem;
    font-weight: bold;
}

.header-small-text {
    margin-bottom: .6em;
    font-size: .8rem;
    
}

.header-big-text {
    font-size: 1.2rem;
}

.text {
    display: flex;
    justify-content: space-between;
    margin: 2rem 11rem 1rem 1rem;
    color: var(--dark-brown)
}

.trend-header {
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

/* DASHBOARD ----------------------------------------- */

.dashboard {
    grid-row: span 3;
    background-image: url(./images/greens.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.20);
    color: white;
}

.dashboard-title {
    display: flex;
    align-items: center;
    gap: 1.4em;
    padding-top: 1.2em;
}

.dashboard-icon {
    width: 3em;
    margin-left: 1.5em;
}

.sub-dashboard {
    display: flex;
    flex-direction: column;
    margin: 3.5em 0em 0em 2em;
    gap: 1em;
    font-size: 1.2rem;
    
}

.dashboard-block {
    display: flex;
    align-items: center;
    gap: 1em;
}

.svg {
    width: 1.5em;
    fill: var(--brown)
}

.proj {
    margin-left: 1em;
}

.reference {
    margin-top: 100%;
    font-size: .8rem;
    text-align: center;
}

/* HEADER ------------------------------------------- */

header {
    display: grid;
    grid-template-rows: 90px 90px;
    grid-template-columns: 600px 400px;
    grid-column: span 2;
    background-color: whitesmoke;
    color: var(--dark-brown);
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.search {
    width: 480px;
    height: 25px;
    margin-bottom: 1em;
    border-radius: 20px;
    background-color: lightgray;
}  

.profile-corner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 1em;
    margin-left: 2em;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.btn {
    all: unset;
    box-shadow: 2px 2px 5px gray;
    border-radius: 15px;
    padding: 7px 30px;
    font-weight: bold;
    background-color: var(--brown);
    color: whitesmoke;
}

.profile-img-1,
.profile-img-2,
.trend-profile-img {
    border-radius: 50%;
}

/* MAIN CONTENT ----------------------------------- */
main {
    grid-column: span 2;
    grid-row: span 2;
    background-color: var(--light-green);
}

.board {
    display: flex;
    gap: 1.5rem;
}

.projects {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    margin-left: 1rem;
    width: 70%;
    height: 700px;
    background-color: var(--light-green);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 5px gray;
    border-left: 8px solid var(--brown);
    border-radius: 5px;
    padding: 1.5em 1em .5em 1em;
    background-color: whitesmoke;
}

.project-icons {
    align-self: flex-end;
}

/* ANNOUNCEMENTS/TRENDING ---------------------------------- */

.side-content {
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    grid-template-columns: 1fr;
    margin-right: 1.5em;
    width: 30%;
    height: 700px;  
}

.announcements,
.trending {
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
    padding: 1.2em;
    background-color: whitesmoke;  
}

.trending {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trend-block {
    display: flex;
    gap: 1em;
}

.text-block {
    border-bottom: .5px solid lightgray;
    padding: 1em 0em;  
}

#bottom {
    border: none;
}

